html
{
    width: 100%;
    min-height: 100%;
    background: #010101;
    background: radial-gradient(at left bottom, #010101, #220437);
}
body {
    margin-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0 auto;
    background: radial-gradient(at left bottom, #161318, #220437);
    color: #fff;
    padding: 5px;
    border-radius: 0px 0px 30px 30px;
    margin-top: -20px;
    padding-right: 60px;
    padding-bottom: 10px;
    
}
nav{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    margin-top: 40px;
}
a{
    color:#FFF;
    text-decoration: none;
}

a:visited{
    color: #FFF;
}
#button_about_me{
    margin-right: 30px;
    
}
#button_works{
    margin-right: 30px;
}
#button_feedback{
    margin-right: 30px;
}
#button_main{
    margin-left: 60px;
    margin-right: 60px;
}
#tg{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 15px;
    margin-top: -10px;
    
}
#vk{
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 15px;
    margin-top: -8px;
}
#inst{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 505px;
    margin-top: -10px;
}

h1{
    margin-bottom: 0px;
    margin-left: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--TextGrad, linear-gradient(270deg, #B605AF 40%, #4AFFFB 101.25%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    margin-top: 0;
    margin-left: 60px;
    width: 674px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#buy_under_text{
    color: #5ADBEF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 140px;
    height: 50px;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    margin-top: 140px;
    margin-left: 60px;
}

#button_buy{
    display: flex;
    padding: 12px 36px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: 1.5px solid #FFF;
    margin-top: -13.5px;
    margin-left: 60px;
}

.main_page {
    margin-top: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_page .content {
    position: relative;
    z-index: 1;
}

.main_page .image {
    flex: 0 0 646px;
    transform: translateX(-120px);
}

.main_page img {
    max-width: 100%;
}
iframe{
    width: 456px;
    height: 811px;
    flex-shrink: 0;
    border-radius: 50px;
    scale: 85%;
    margin-left: 20px;
    margin-top: -80px;
}

.cases{
    padding-top: 70px;
}

.cases h1{
    font-size: 70px;
    text-align: center;
    background: linear-gradient(270deg, #5824EC 0%, #4AFFFB 101.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0px;
}
.cases h2{
    margin-left: 60px;
    margin-top: 22px;
    margin-bottom: 43px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cases div{
    padding: 0px;
    margin: 0px;
}

.cases p{
    color: #FFF;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#p_dentist{
    margin-left: 175px;
    margin-top: -65px;
}

#p_cosmo{
    margin-left: 660px;
    margin-top: -63px;
}

#p_lawyer{
    margin-left: 1160px;
    margin-top: -62px;
}
#p_surgeon{
    margin-left: 90px;
    margin-top: -68px;
}
#p_befit{
    margin-left: 990px;
    margin-top: -62px;
    text-align: center;
}
#p_pizza{
    margin-left: 120px;
    margin-top: -68px;
}