html
{
    width: 100%;
    min-height: 100%;
    background: #010101;
    background: radial-gradient(#010101, #220437);
}   
body {
    margin-top: 100px;
    max-width: 1440px;
    margin: 0 auto;

}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;


    background: radial-gradient(at left bottom, #161318, #220437);
    color: #fff;
    padding: 5px;


    border-radius: 0px 0px 30px 30px;
    margin-top: -20px;
    padding-right: 60px;
    padding-bottom: 10px;
    opacity: 100%;
    
}

.header_body{
    z-index: 10;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header_links a{
    margin-right: 20px;
}
.header_links{
    margin-left: -120px;
}
.header_list{
    display: flex;
}
.header_list li{
    list-style: none;
    margin: 0px 0px 0px 30px;
}

nav{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    margin-top: 40px;
}
.header_logo{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    margin-top: 25px;
}
a{
    color:#FFF;
    text-decoration: none;
}

a:visited{
    color: #FFF;
}
#tg{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-top: -10px;
    filter: invert(1);
}
#vk{
    width: 37px;
    height: 37px;
    margin-top: 30px;
    filter: invert(1);
}
#inst{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    filter: invert(1);
}
h1{
    margin-bottom: 0px;
    margin-left: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--TextGrad, linear-gradient(270deg, #B605AF 40%, #4AFFFB 101.25%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    margin-top: 0;
    margin-left: 60px;
    width: 674px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#buy_under_text{
    color: #5ADBEF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 140px;
    height: 50px;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    margin-top: 140px;
    margin-left: 60px;
}

#button_buy{
    display: flex;
    padding: 12px 36px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: 1.5px solid #FFF;
    margin-top: -13.5px;
    margin-left: 60px;
}

.main_page {
    margin-top: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_page .content {
    position: relative;
    z-index: 2;
}

.main_page .image {
    flex: 0 0 646px;
    transform: translateX(-120px);
}

.main_page img {
    max-width: 100%;
}
.cases iframe{
    width: 456px;
    height: 811px;
    flex-shrink: 0;
    border-radius: 50px;
    scale: 85%;
    margin-top: -80px;
}

.cases{
    padding-top: 70px;
}

.cases h1{
    font-size: 70px;
    text-align: center;
    background: linear-gradient(270deg, #5824EC 0%, #4AFFFB 101.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0px;
}
.cases h2{
    margin-left: 60px;
    margin-top: 22px;
    margin-bottom: 43px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cases p{
    color: #FFF;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: -60px;
}

.cases div{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}
.cases .video{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.cases .less3{
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    margin-left: 40px;
}

.header_burger{
    display: none;
}

@media (max-width: 767px) {
    .cases div{
        display: flex;
        align-content: center;
        flex-flow: column nowrap;
        
    }
    .cases .less3{
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    .content{
        margin-left: -70px;
    }
    .cases{
        display: block;
    }
    .cases div{
        align-content: center;
    }
    #cases{
        font-size: 50px;
        display: block;
    }
    .header_burger{
        z-index: 100;
        display: block;
        position: relative;
        margin-top: 15px;
        width: 30px;
        height: 20px;
    }   
    .header_burger::before, .header_burger::after{
        content: ' ';
        background-color: #FFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_burger span{
        background-color: #FFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .main_page{
        scale: 80%;
    }
    header::before{
        z-index: 5;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(at left bottom, #161318, #220437);
    }
    .header_menu{
        z-index: -1;
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(at left bottom, #161318, #220437);
        margin-top: 70px;
        transition: all 1s ease 0s;
    }
    .header_menu.active{
        z-index: -1;
        top: 0;
    }
    .header_list{
        display: block;
        flex-direction: column;
    }
    .header_list li{
        margin: 0px 0px 30px 0px;
        text-align: center;
        font-size: 30px;
    }
    #button_buy{
        display: inline;
        padding: 0px 0px;
        border-radius: 0px;
        border: 0px solid #FFF;
        margin-top: 0x;
        margin-left: 0px;
    }
    .header_links{
        align-items: center;
        margin-left: 0px;
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .image{
        display: none;
    }
    
}


/* Удалить! */
.cases form{
    color: #FFF;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
fieldset{
    width: 600px;
}
input{
    background: none;
    color: #FFF;
}
:focus{
    color: red;
}
::placeholder{
    background-color: aqua;
}
textarea{
    resize: none;
}
/* Удалить! */